services:

  #####################################################################################
  # Docker monitoring
  #####################################################################################       
  prtg-probe:
    build:
      #context: ./prtg_mpp
      dockerfile: Dockerfile
    container_name: prtg-probe
    network_mode: "host"
    pid: "host"
    user: "0:0"
    privileged: true
    security_opt:
      - seccomp=unconfined
    environment:
      PRTG_HOST: ${PRTG_HOST}
      PRTG_USERNAME: ${PRTG_USERNAME}
      PRTG_PASSWORD: ${PRTG_PASSWORD}
      MPP_NATS_URL: ${MPP_NATS_URL}
      MPP_NATS_USER: ${MPP_NATS_USER}
      MPP_ACCESS_KEY: ${MPP_ACCESS_KEY}
      MPP_NATS_PASSWORD: ${MPP_NATS_PASSWORD}
    volumes:
      - prtg_data:/config
      - prtg_scripts:/opt/paessler/share/scripts
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/volumes:/var/lib/docker/volumes:ro
      - /var/lib/docker/overlay2:/var/lib/docker/overlay2:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /proc:/host/proc:ro
    restart: unless-stopped
    
volumes:
  prtg_data:
  prtg_scripts: